# Directories
.vs/
Binaries/
Game/Resources/Shaders/*.spv
Libraries/vulkan/Lib/*.lib

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log

Makefile

# Exclude
!Vendor/Binaries
/Drawing multiple objects _ r_vulkan_files
