# Directories
.vs/
Binaries/
Game/Resources/Shaders/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
*.spv
Makefile

# Exclude
!Vendor/Binaries
/Drawing multiple objects _ r_vulkan_files
